@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: rgb(102, 102, 110);
}

.container{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(122, 63%, 56%);
    border-bottom: 1px solid hsl(122, 63%, 56%);
    height: 45px;
}

.header h3{
    font-size: 17px;
    font-weight: 700;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info a{
    color:hsl(122, 63%, 56%);
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;

}

.info a:hover{
    color:hsl(122, 77%, 44%)
}


.input-container{
    display: flex;

    border-top: 2px solid hsl(122, 63%, 56%);
    height: 50px;
}


.input-container button{
    margin-top: 10px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

#user-input{
    margin-top: 10px;
   
    
    background-color: rgb(167, 167, 177);

    color:rgb(39, 15, 15);
    height: 18px;
    border: none;
    outline: none;
    padding: 6px;
    margin-left: 10px;
    width: 95%;
    font-size: 17px;
    font-weight: 700;
    border-radius: 5px;
}

.chat-box {
    display:flex;
    align-items: center;
    padding: 10px 15px;
}

#chat-log {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.6;
}

#chat-log i {
    margin-right: 10px;
    color: #ffffff;
    border-radius: 5px;
}

.bot, .user {
    display: flex;
    align-items: flex-start;
    color: #eeeeee;
    width: 100%;
    padding: 15px 7px 15px 10px;
    border-radius: 6px;
}

.bot {
    background-color: #414153;
}

#chat-log #user-icon i {
    background-color: #31a688;
    padding: 10px 11px;
}

#chat-log #bot-icon i {
    background-color: #9a6ecc;
    padding: 10px 11px;
}